.jumbotron-background {
    background-image: url('header-img.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
  }